@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-slate font-sans antialiased;
    background: radial-gradient(circle at 50% 50%, #0a192f 0%, #020c1b 100%);
    overflow-x: hidden;
  }

  /* Custom Text Selection - Theme Color */
  ::selection {
    background: #64ffda;
    /* Theme Teal */
    color: #0a192f;
    /* Dark Navy Text */
    text-shadow: none;
  }

  ::-moz-selection {
    background: #64ffda;
    color: #0a192f;
    text-shadow: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

/* Custom Cursor Styles will go here later */
.custom-cursor {
  @apply fixed top-0 left-0 w-4 h-4 bg-secondary rounded-full pointer-events-none mix-blend-difference z-50;
  transform: translate(-50%, -50%);
}